/* Zilla Slab Font Family */

@font-face {
  font-family: 'Zilla Slab';
  src: url('./ZillaSlab/ZillaSlab-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zilla Slab';
  src: url('./ZillaSlab/ZillaSlab-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Zilla Slab';
  src: url('./ZillaSlab/ZillaSlab-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zilla Slab';
  src: url('./ZillaSlab/ZillaSlab-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Zilla Slab';
  src: url('./ZillaSlab/ZillaSlab-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zilla Slab';
  src: url('./ZillaSlab/ZillaSlab-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Zilla Slab';
  src: url('./ZillaSlab/ZillaSlab-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zilla Slab';
  src: url('./ZillaSlab/ZillaSlab-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Zilla Slab';
  src: url('./ZillaSlab/ZillaSlab-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zilla Slab';
  src: url('./ZillaSlab/ZillaSlab-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
